.header {
    text-align: center;
    font-size: xx-large;
   
    
    h2 {
        color: rosybrown;
        -webkit-text-fill-color:rosybrown; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        letter-spacing: 3px;
        font-size: 60px;

    }
    textarea {
        text-align: center;
        font-size: x-large;
        margin-top: 1rem;
        
    }

    &__rubrik{
      
        textarea {
            min-width: 8rem;
            min-height: 3rem;

         @include breakpoint-up(medium) {
         min-width: 30rem;
        min-height: 3rem;
         }

        @include breakpoint-up(large){
            min-width: 60rem;
            min-height: 4rem;
        }
        }
    }
    &__text {

        textarea {
            min-width: 8rem;
            min-height: 10rem;
         @include breakpoint-up(medium){
             min-width: 30rem;
             min-height: 10rem;
         }

         @include breakpoint-up(large){
            min-width: 60rem;
            min-height: 10rem;
        }
        }
    }
  
}

.addPostBtn {
    padding: 2rem;
}

.removeAllPosts {
    margin-top: 1rem,
}

.header__github {
    font-size: 28px;
    
}


