.header {
    text-align: center;
    font-size: xx-large;
   
    
    h2 {
        color: rosybrown;
        -webkit-text-fill-color:rosybrown; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        letter-spacing: 3px;
        font-size: 60px;

    }
    textarea {
        text-align: center;
        font-size: x-large;
    }



}


