.header {
    text-align: center;
    font-size: xx-large;
   
    
    h2 {
        color: black;
        -webkit-text-fill-color: whitesmoke; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
        letter-spacing: 3px;

    }
    textarea {
        text-align: center;
        font-size: x-large;
    }


  
}


